table{
    border-style: groove;
    box-shadow: 5px 5px 15px;
}

.portrait{
    margin-left: 41%;
}

.portrait2{
    display: inline-block;
    margin-left: 50%;
}

.portrait3{
    position: absolute;
    top: 21.5vh;
    display: inline-block;
    margin-right: 45%;
}

body{
    background-color: rgb(191, 220, 255);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(255, 234, 191);
}

li{
    display: inline;
    font-family:'Girassol';
    padding:50px;
}

p{
    border-style: groove;
    box-shadow: 5px 5px 15px rgb(255, 234, 191);
    font-family:'Girassol';
    border-color: rgba(255, 234, 191, 1.5);
}

.name{
    font-family:'Girassol';
    text-shadow: 3px 3px rgb(255, 234, 191);
    
}

.facts{
    font-family:'Girassol';
}

.portrait4{
    display: inline-block;
    margin-left: 41%;
}
label{
    font-size: 30px;
}
input{
    font-size: 15px;
}